/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7%;
    background-color: rgba(32, 32, 103, 0.8); 
    border-bottom: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar.active{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7%;
    background-color: rgba(32, 32, 103, 0.8); 
    border-bottom: 1px solid rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 9999;
    animation: slideIn 0.5s ease-out forwards;
}

.navbar .navbar-nav .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--primary, rgb(105, 92, 201));
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}


/* case ketika slide in aktiv dia gak mau mendekat ke top, dia default dari ease out  */

@keyframes slideIn {
   0% { transform: translateY(-100%); }
          100% { transform: translateY(0); }
}

.navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: 500;
    color: antiquewhite;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: rgb(132, 75, 5);
    font-weight: 600;
}

.navbar .navbar-nav a {
    color: aliceblue;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
    /* text-decoration-color: aqua; */
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar .navbar-extra a {
    color: white;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

/* akhir dari navbar awal */

body {
    background-color:rgb(135, 145, 56) ;
    padding-bottom: 1500px;
    margin: 0;
}
