body {
  display: flex;
  flex-direction: column;
  min-height: auto;
  background: linear-gradient(45deg, #1c1c1c, #383838, #1c1c1c);
  background-size: 100% 200%;
  animation: gradientAnimation 5s ease infinite;
  min-height: 100vh;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  color: #222;
}



@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/* masih ada sedikit bug dalam gradient body nya */

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: rgba(32, 32, 103, 0.8);
  border-bottom: 1px solid rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: rgba(32, 32, 103, 0.8);
  border-bottom: 1px solid rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  z-index: 9999;
  animation: slideIn 0.5s ease-out forwards;
}

.navbar .navbar-nav .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--primary, rgb(105, 92, 201));
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

/* case ketika scroll aktiv dia gak mau mendekat ke top, dia default dari ease out  */

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 40px;
  font-style: arial;
}

.navbar .navbar-toggler {
  font-size: 1.5rem;
  font-weight: 800;
  color: antiquewhite;
  font-style: italic;
}

.navbar .navbar-toggler span {
  color: rgb(132, 75, 5);
  font-weight: 600;
}

.navbar .navbar-nav a {
  color: aliceblue;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: white;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.navbar .navbar-right {
  color: aliceblue;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}
/* akhir dari navbar awal */

/* mulai container */
.container {
  flex: 1;
  padding-top: 120px;
  padding-bottom: 200px;
}

/* akhir container */

/* mulai search form dalam kontainer awal */
.search-form {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-form input,
.search-form select,
.search-form button {
  width: calc(100% - 20px);
  margin: 10px 0;
  padding: 10px;
}
.search-form button {
  background-color: #00509e;
  color: white;
  border: none;
}
.search-form button:hover {
  background-color: #003366;
}
/* akhir search form dalam kontainer awal */

/* footer */
.footer {
  text-align: center;
  justify-content: center;
  padding-bottom: 10px 0px;
  font-size: 12px;
  color: aliceblue;
  background-color: rgba(32, 32, 103, 0.8);
  width: 100%;

}
/* akhir footer */

/* dark mode  */


.arrow-btn {
  flex-shrink: 0;
  width: 2.7rem;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background-color: #222;
  border-radius: 50%;
  cursor: pointer;
}
/* .arrow-btn:before {
  content: '→';
} */

input[type='checkbox'] {
  display: none;
}
input[type='checkbox']:checked ~ .dark-mode-mask {
  transform: scale(50);
}
input[type='checkbox']:checked ~ .toggle-btn {
  background-color: #fff;
}
.dark-mode-mask, .toggle-btn {
  position: fixed;
  bottom: 1rem;  
  right: 1rem;   
  width: 2.5rem;   
  height: 2.5rem;  
  border-radius: 50%;
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  color: orange;
  background-color: #222;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s; 
  will-change: background-color;
}
.toggle-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: inherit;
  animation: pulse 1s infinite linear;
  pointer-events: none;
}
.dark-mode-mask {
  pointer-events: none;
  background-color: #fff;
  mix-blend-mode: difference;
  transition: all 0.5s ease-in-out;
  will-change: transform;
  top: 100%;     
  left: 100%;    
  width: 20%; 
  height: 20%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #222a;
  }
  40% {
    box-shadow: 0 0 0 0.1rem #2222;
    opacity: 0.7;
  }
  80% {
    box-shadow: 0 0 0 0.15rem #2222;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* akhir dark mode */